.calculator {
    display: flex;
    flex-direction: column;
    width:350px;
    margin:0px auto;
    border: 1px solid;
}
.calculator-row{
    display: flex;
    height: 100px;
}
.caluclator-cell{
    width: 25%;
    font-size: 2em;
    border: 1px solid;
    background-color: #ccc;
    cursor: pointer;
}
.cancel{
    flex-grow:2;
}
.zero{
    flex-grow:3;
}
.caluculator-result {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    font-size: 60px;
    align-items: flex-end;
    padding-right: 10px;;
}
.caluclator-cell:last-child{
    background-color:#df974c;
    border: 1px solid #000;
    color:#fff;
}
.caluclator-cell:hover{
    opacity: 0.8;
}
.caluclator-cell:active{
border-width    : 2px;
}