/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
  width: 600px;
  height: 600px;
  background: url(painting.png) no-repeat;
  display: grid;
  grid-gap: 10px;
}
div {
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
}
.a {
 grid-column: 1/4;
 grid-row: 1/6;

}
.b {
grid-column: 1/4;
grid-row: 6/10;

}
.c {
  grid-column: 4/12;
  grid-row: 1/10;
  background-color: red;
}
.d {
  grid-column: 1/4;
  grid-row: 10/12;  
  background-color: blue;

}
.e {
  grid-column:  4/11;
  grid-row: 10/12;
}
.f {
  grid-row: 10/11;
  grid-column:  11/12;

}
.g {
  grid-row: 11/12;
  grid-column: 11/12;
  background-color: yellow;
}




